.section6{
    width: 100%;
    background: #FFFFFF;
}


.section6 > h5 {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.section6-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.eachtop-div {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin: auto;
}
.purple {
  width: 100%;
}
.quote {
  width: 30px;
  position: absolute;
  top: 24%;
  left: 0%;
  padding-right: 5px;
}
.eachtop-div p {
  position: absolute;
  top: 25%;
  left: 0%;
  color: white;
  width: 300px;
  text-align: center;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* font-size: 14px; */
  color: #ffffff;
}
.eachbottom-div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.eachbottom-div img {
  width: 50px;
}
.eachbottom-div h6 {
  /* margin-bottom: 2px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #292929;
}
.eachbottom-div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #292929;
}
.bottom-text {
  text-align: left;
}

@media (min-width: 989px) {
  .section6-div {
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }
  .eachtop-div {
    width: 100%;
  }
}
